.section-services-page-about-us {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  height: 80vh;
  margin: 0%;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/train_security_guard.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 20% 20%;
}
.section-services-page-about-us .section-services-page-about-us-container {
  position: relative;
  top: 4%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  height: 100%;
}
.section-services-page-about-us .section-services-page-about-us-container .background-title {
  position: absolute;
  left: 3em;
  bottom: 5em;
  text-align: left;
  margin-right: 5%;
  width: 50%;
  font-size: 0.8em;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  opacity: 0;
  -webkit-animation: introload 2s forwards;
          animation: introload 2s forwards;
}
.section-services-page-about-us .section-services-page-about-us-container .background-text {
  position: relative;
  max-width: 96%;
  left: 4%;
  font-family: "Varela", sans-serif;
  color: #ffffff;
}
.section-services-page-about-us .section-services-page-about-us-container .about_us_link {
  position: relative;
  left: 4%;
  max-width: 96%;
  font-family: "Varela", sans-serif;
  -webkit-transition: color 0.2s ease-out;
}
.section-services-page-about-us .section-services-page-about-us-container .about_us_link:hover {
  color: #666;
}

.services-page-section {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  display: grid;
  grid-template-areas: "header" "subtitle" "description-container";
  padding-bottom: 30%;
  justify-content: center;
  max-width: 100%;
  padding-bottom: 2%;
  margin: 0%;
  padding-top: 4.7em;
}
.services-page-section .services-page-section-main-title {
  grid-area: "header";
  justify-self: center;
  font-family: "Varela", sans-serif;
  color: #1A1A1A;
  width: auto;
  height: 2em;
  margin-bottom: 0em;
}
.services-page-section .services-page-section-subtitle {
  grid-area: "subtitle";
  margin-top: 0em;
  font-family: "Varela", sans-serif;
  justify-self: center;
  color: #666;
  letter-spacing: 0.3em;
  width: auto;
  height: 2em;
}
.services-page-section .services-page-section-subtitle .span:before .services-page-section .services-page-section-subtitle .span:after {
  content: "";
  height: 1px;
  background-color: #666;
  width: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.services-page-section .services-page-description-container {
  grid-auto-flow: row;
  grid-area: "description-container";
  display: grid;
  grid-template-areas: "service_1" "service_3" "service_2";
  justify-content: space-between;
  row-gap: 1em;
  max-height: 100%;
  padding: 4%;
}
.services-page-section .services-page-description-container .service_1 {
  grid-area: "service_1";
}
.services-page-section .services-page-description-container .service_2 {
  grid-area: "service_2";
}
.services-page-section .services-page-description-container .service_3 {
  grid-area: "service_3";
}

.services-page-section .services-page-description-container .service {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 0.9fr 3fr;
  row-gap: 5%;
  width: 100%;
  height: 100%;
}
.services-page-section .services-page-description-container .service .service_logo {
  justify-self: end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  grid-column: 3/4;
  grid-row: 2/3;
}
.services-page-section .services-page-description-container .service .service_logo .rectangle {
  display: inline-block;
  background-color: #e0dede;
  width: 3.5em;
  height: 3.5em;
  border: 0.05em solid #ffffff;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-box-shadow: 0.4em 0.4em 0px 0px #dddddd;
  box-shadow: 0.4em 0.4em 0px 0px #424242;
}
.services-page-section .services-page-description-container .service .service_logo .rectangle .service_svg {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4em;
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -moz-transform: translate(-50%, -50%) rotate(-45deg);
  -o-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
}
.services-page-section .services-page-description-container .service .service-title {
  justify-self: center;
  grid-column: 1/4;
  grid-row: 1/2;
  margin: 0;
  text-transform: uppercase;
  font-family: 1em "Open Sans", sans-serif;
}
.services-page-section .services-page-description-container .service .service-container-text {
  width: 90%;
  margin: 0;
  font-size: small;
  text-align: left;
}

@media only screen and (min-width: 900px) {
  .section-services-page-about-us {
    height: 100vh;
  }
  .section-services-page-about-us .section-services-page-about-us-container .background-title {
    font-size: 1.5em;
  }
}
@-webkit-keyframes introload {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes introload {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}/*# sourceMappingURL=services.css.map */